body, img, div, a {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background: #000000 url("../img/background.gif") repeat;
    color: white;
}

footer {
    background: #5E584F;
    padding: 4px;
    font-weight: 400;
    font-size: 10px;
}

#navbar {
    background: #5E584F;
    padding: 4px;
    text-align: center;
}

#navbar a {
    padding: 4px;
}

a:link {
    color: #F09000;
    text-decoration: none;
    font-weight: 525;
}

a:visited {
    color: #F09000;
    text-decoration: none;
    font-weight: 525;
}

#content {
    padding: 4px;
}

#pageConstraint {
    width: 702px;
    background: #3C3831;
    margin-left: auto;
    margin-right: auto;
}

.orangeBorder {
    border: 2px solid;
    border-color: #F09000;
}
